/.vs/KaratTest/v16/.suo
/.vs/KaratTest/v16/Server/sqlite3/db.lock
/.vs/KaratTest/v16/Server/sqlite3/storage.ide
/.vs/KaratTest/v16/Server/sqlite3/storage.ide-shm
/.vs/KaratTest/v16/Server/sqlite3/storage.ide-wal
/bin/Debug/netcoreapp3.1/KaratTest.deps.json
/bin/Debug/netcoreapp3.1/KaratTest.dll
/bin/Debug/netcoreapp3.1/KaratTest.exe
/bin/Debug/netcoreapp3.1/KaratTest.pdb
/bin/Debug/netcoreapp3.1/KaratTest.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/KaratTest.runtimeconfig.json
/obj/Debug/netcoreapp3.1/KaratTest.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/KaratTest.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/KaratTest.assets.cache
/obj/Debug/netcoreapp3.1/KaratTest.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/KaratTest.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/KaratTest.dll
/obj/Debug/netcoreapp3.1/KaratTest.exe
/obj/Debug/netcoreapp3.1/KaratTest.pdb
/obj/KaratTest.csproj.nuget.cache
/obj/KaratTest.csproj.nuget.dgspec.json
/obj/KaratTest.csproj.nuget.g.props
/obj/KaratTest.csproj.nuget.g.targets
/obj/project.assets.json
